<!DOCTYPE html lang="pt-br">
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="img/iconLogo.png"></link>

    <title>Hígia Métis</title>
</head>

<body >
	<section>
        <div class="logo container">
            <img src="img/logo.png"  alt="logo3dprint">
        </div>
        
		<div class="seta">
            <a href="index">
                <img id="seta" src="img/seta2.png" alt="seta">
            </a>
		</div>
	</section>
	
</body>
</html>